.App {
  text-align: center;
}
body{
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
}
h1{
  /* background-color: gray; */
  text-align: center;
  font-family: monospace;
  width: 100% !important;
  font-family: 'Libre Caslon Text', serif;

}



.radios{
  font-family: 'Libre Caslon Text', serif;
font-size: 30px;
  text-align: center;
  /* background-color: #4267b2; */

}
button{
  
  background-color: #4267b2 !important;
}
@media only screen and (max-width: 600px) {
  button {
    width: 100% !important;
  }
}



.nav-wrapper{
  background-color:rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 0px !important;
  margin-bottom: 0px !important;
}
@media only screen and (max-width: 600px) {
  .nav-wrapper {
    width: 120% !important;
    background-color: rgb(0, 0, 0);;
  

  }
}

input{
  text-align: center;
  background-color: #054b4c;
  
  width: 220px;
}
@media only screen and (max-width: 600px) {
  input {
    width: 100% !important;
  
  background-color: #054b4c;


  }
}


h3{
  font-family: 'Libre Caslon Text', serif;
}
h6{
  text-align: center;
  font-family: 'Libre Caslon Text', serif;

}

@media only screen and (max-width: 600px) {
  h6 {
    width: 100% !important;
  
  /* background-color: #054b4c; */


  }
}

h5{
  font-family: 'Libre Caslon Text', serif;
  display: inline;
  /* text-align: center !important; */
}
p{
  font-family: 'Libre Caslon Text', serif;

  text-align: center;
}

.heading{
  background-color: #054b4c;
  color: white;
  font-family: 'Libre Caslon Text', serif;
  padding: 70px;
width: 100%;
}
a{
  margin-right: 70px;
  font-size: 30px;
  font-family: 'Libre Caslon Text', serif;

}



.logo{
  
  /* margin-right: 720px; */
}
.btn{
padding: 0px !important;
  /* margin-right: 100px !important; */

}

@media only screen and (max-width: 600px) {
  .btn{
    width: 100% !important;
  margin-right: 140px !important;
  /* background-color: #054b4c; */


  }
}

#fblogo1{
  width: 20px;
  height: 30px;;
  border-radius: 100%;
 
  /* margin-right: 20px !important; */
 
}
/* @media only screen and (max-width: 600px) {
  #fblogo1{
    width: 80% !important; 
  
   background-color: #054b4c;


  }
} */
.abx{
  background-color: #4267b2 !important;
/* width: 250px; */
font-family: 'Libre Caslon Text', serif;
}

@media only screen and (max-width: 600px) {
  .abx{
    width: 120% !important; 
  
   background-color: #054b4c;


  }
}
.btn-large{
  background-color: #054b4c !important;
  /* margin-left: 10px; */
  margin: 0px !important;
}
.card-panel{
  /* text-align: center; */
  width: 1100px !important;
}
@media only screen and (max-width: 600px) {
  .card-panel {
    width: 100% !important;
  margin-left: 40px;
  /* background-color: #054b4c; */


  }
}

h4{
  display: inline !important;
  font-family: 'Libre Caslon Text', serif;

}
.timing-show{
  margin:0px !important;
  display: inline !important;
  margin-left: 20px !important;
}
@media only screen and (max-width: 600px) {
  .timing-show{
    width: 100% !important;
  /* background-color: #054b4c; */


  }
}
td{
  /* background-color: #054b4c; */
padding: 10px !important;
}
table{
  width: 320px;
}
.waves-effect{
  margin: 0;
}
#backgroundimg{
  /* width: 100%; */
  height: 250px;;
  width: 100% !important;
  border-radius: 10px;

}

@media only screen and (max-width: 600px) {

  #backgroundimg{
  border-radius: 10px;
    width: 120% !important;


  }
}

.retake{
  
  margin: 0 auto !important;
  width: 15% !important;
}

@media only screen and (max-width: 600px) {
  .retake{
    width: 100% !important;
  /* background-color: #054b4c; */


  }
}
.result{
  
  width: 300px !important;
  text-align: center;
  /* margin: 0px !important; */
  
}

#fbpic{
  border-radius: 100% !important;
}
#quizlogo{
  width: 70px;
  height: 55px;
  border-radius: 100%;
}
#appbar{
  color: red !important;
}
